@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.container {
  margin: 30px auto;
  width: 350px;
}
h2 {
  font-size: 40px;
}

h1 {
  font-weight: 530;
  margin-bottom: 30px;
}

h3 {
  padding: 10px 5px;
  font-size: 22px;
  font-weight: 600;
  border-bottom: 1px solid grey;
}

.expenses-container {
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.expenses-container > div {
  flex-grow: 1;
  text-align: center;
}

.expenses-container > div:first-of-type {
  border-right: 1px solid grey;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.positive {
  color: #2ecc71;
}
.negative {
  color: #c0382b;
}

.card {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 7px 0;
  position: relative;
}
.green{
  border-right: 8px solid green;
}
.red{
  border-right: red 8px solid;
}
.delete-btn {
  background-color: #c0382b;
  color: white;
  border: 1px solid red;
  padding: 3px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  cursor: pointer;
  transform: opacity 0.4s ease-out;
}

.card:hover .delete-btn {
  opacity: 1;
}
input {
  width: 100%;
  padding: 5px;
  font-size: 18px;
}
.btn {
  width: 100%;
  padding: 10px;
  background-color: rgb(113, 77, 232);
  color: white;
  border: 2px solid #6539f4;
  font-size: 17px;
}

.btn:hover{
  color:#6539f4;
  border-color: #6539f4;
  background-color: whitesmoke;
  transition:  0.2s ease-out;
  cursor: pointer;
}